Repository minhkhoidao/notion-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx prettier . --write, eslint, yarn test

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

feat(no-task): setup cicd for project
  .eslintrc.json
  README.md
  app/(main)/(routes)/documents/[documentId]/page.tsx
  app/(main)/_components/DocumentList.tsx
  app/(main)/_components/Item.tsx
  app/(main)/_components/Navbar.tsx
  app/(main)/_components/Navigation.tsx
  app/(main)/_components/Title.tsx
  app/(main)/_components/TrashBox.tsx
  app/(main)/layout.tsx
  app/(marketing)/_components/Footer.tsx
  app/(marketing)/_components/Heroes.tsx
  app/(marketing)/_components/Logo.tsx
  app/(marketing)/layout.tsx
  app/(marketing)/page.tsx
  components/modals/confirm.tsx
  components/modals/settings.tsx
  components/model-toggle.tsx
  components/providers/convex-provider.tsx
  components/providers/modal-provider.tsx
  components/searchCommand.tsx
  components/spinner.tsx
  components/ui/button.tsx
  components/ui/command.tsx
  components/ui/dropdown-menu.tsx
  components/ui/input.tsx
  convex/_generated/api.d.ts
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  cypress.config.ts
  cypress/e2e/spec.cy.ts
  yarn.lock
Due: eslint --fix, npx prettier . --write, eslint, yarn test

feat(no-task): setup cicd for project
  .lintstagedrc.json
  package.json
Due: npx prettier . --write

Update node.js.yml
  .github/workflows/node.js.yml
Due: none

Delete package-lock.json
  package-lock.json
Due: npx prettier . --write

feat(no-task): setup cicd for project
  .env
Due: none

feat(no-task): setup cicd for project
  .github/workflows/node.js.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  npx prettier . --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.json)
  eslint: any of: *.{js,jsx,ts,tsx}
  yarn test: any of: *.{js,jsx,ts,tsx}
